@import "../../common/css/configer.less";
/*��ҳ��*/
/*分页*/
.pagination li.active a, .pagination li.active a:hover, .pagination li.active a:focus {
  background: #999;
  border-color: #999;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.gridSection .gopl{margin-right: 0px}

.pagination li a {
  color: #777;
}
.pagination li a:hover,
.pagination li a:focus {
  background: #f2f2f2;
}